html{
	-webkit-text-size-adjust: 100%;
	height: 100%;
}
body{ 
	position: relative;
	max-width: 100%;
	box-sizing: border-box;
	display: block;
	height: 100%;
}
#page{
	position: relative;
	max-width: 100%;
	min-width: 50%;
	background-image: url("../Images/bg2.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100%;
}
form{
	color: rgb(245,173,37);
	width: 300px;
	max-width: 70%;
	min-width: 20%;
	height: 450px auto;
	background-color: rgb(255,255,255);
	padding: 30px;
	text-align: center;
	box-shadow: 8px 8px 8px #000000;
	position: fixed;
	box-sizing: border-box;
	top: 50%;
	margin-top: -200px;
	left: 50%;
	margin-left: -130px;
	right: 0;
}
.sub{
	color: rgb(245,173,37);
	border: none;
	background-color: inherit;
	outline: none;
	cursor: pointer;
	border-right: thin solid gray;
	border-left: thin solid gray;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	max-width: 200px;
}
#toggle{
		background-color: none;
		padding-left: 85px;
}
.input-icons i{
				position: absolute;
				left: 10px;
				top: 7px;
}
.input-icons{
				position: relative;
				margin-bottom: 20px;
}
.icon{
		padding: 3px;
		color: rgb(245,173,37);
}
#status{
	padding-bottom: 10px;
	max-width: 200px;
	margin-left: auto;
	margin-right: auto;
}
.form-control{
	color: balck;
	width: 200px auto;
	padding-left: 40px;
}

@media only screen and (max-device-width: 480px) {
	#status span{
		margin-right: 15px;
	}
}
@media only screen and (max-device-width: 320px) {
	#status span{
		display: block;
	}
}
@media only screen and (max-device-width: 280px) {
	form{
		width: 400px;
		max-width: 90%;
	}
}
