body{
    font-size: 14px;
    background-color: #eeedf2;
}
#allcontent{
    position: relative;
    display: flex;
    background-color: #eeedf2;
    left: 0px;
    right: 0px;
    bottom: 0px;
    /* filter: blur(8px); */
}
#content{
    position: relative;
    background-color: white;
    margin-top: 5px;
    padding-left: 15px;
    width: 80%;
}
@media only screen and (max-device-width: 480px) {
    #content{
        margin-top: 0px;
        width: 100%;
        margin-left: -10px;
        margin-right: -10px;
    }
    #crap{
        z-index: 100;
    }
}